ion-input{
    width: 100%;
}

.form{ 
    width: 375px;
}

.button-row{
    float: right;
}
.arrow-btn{
    float: right;
    margin: 25px;
  }

.item-content{
    --ion-item-background:#121212;
    
  }