<ion-app>
  <ion-grid>
    <ion-row> 
          <div  class="welcome-msg ion-align-items-center">
            <!-- class="welcome-msg" -->
            Hola <b>Usuario,</b> <br>
            <small>Recuerdanos tu nombre y apellidos</small>
          </div>  
    </ion-row>
    <ion-row class="ion-align-items-center"> 
            <form [formGroup]="exform" class="form">
              <br/> 
              <br/>
              <ion-item class="item-content">
                <ion-input formControlName="name" position="floating" placeholder="Nombre" type="text"></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.name">
                <ng-container *ngIf="exform.get('name').hasError(error.type) && (exform.get('name').dirty || exform.get('name').touched)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
              <br/>
              <br/> 
              <br/>
              <ion-item class="item-content"> 
                <ion-input formControlName="surname" position="floating" placeholder="Apellidos" type="text"></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.surname">
                <ng-container *ngIf="exform.get('surname').hasError(error.type) && (exform.get('surname').dirty || exform.get('surname').touched)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div> 
            </form>
  
    </ion-row>
    <ion-row class="button-row">
      <div>
        <br/>
        <br/>
        <app-arrow-button class="arrow-btn" expand="block" shape="round" color="warning" (click)="recoverUser()" (keyup.enter)="recoverUser()"></app-arrow-button>
         
      </div>
    </ion-row>
  </ion-grid>  
</ion-app>