<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle" color="warning"></ion-icon>
    </ion-button> 
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button color="secondary" (click)="logout()">
      <ion-icon slot="icon-only" ios="log-out-outline" md="log-out-outline" color="warning"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="start">
    <ion-button>
      <ion-icon slot="icon-only" ios="menu-outline" md="menu-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>