<ion-app>  
  <ion-content>
    <p class="welcome-msg">{{'username'}}, deposita el Bitcoin a la siguiente dirección:</p>
    <br>
    <img class="bitcoin-qr" src="/assets/bitcoin-qr.svg" alt="bitcoin-qr">
    <br>
    <br>
    <br>
    <br>
    <ion-toolbar>
      <ion-segment>  
        <ion-segment-button value="something2">
          <ion-button fill="clear">
            <ion-icon name="copy-outline"></ion-icon> 
          </ion-button>
          <span>Copiar</span>
        </ion-segment-button>
        <ion-segment-button value="something2">
          <ion-button fill="clear">
            <ion-icon name="share-outline"></ion-icon>
          </ion-button>
          <span>Compartir</span>
        </ion-segment-button> 
      </ion-segment>
    </ion-toolbar>
  </ion-content>
</ion-app>
