<ion-content class="ion-padding" >
  
    <img src="/assets/taxi-robot.png" alt="taxi-money-care" >
    <ion-card-header>
      <ion-card-title>Hola<b *ngIf="!aUsername" >,</b> <b *ngIf="aUsername"> {{aUsername}},</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ¡Gracias por registrarte a Alcancía! 
      <br>
      <br>
      Juntos cambiaremos la forma en la que ahorramos en Latinoamérica.
      <br>
      <br>
      ¡Pronto nos pondremos en contacto contigo!
     <br>
     <br>
     <br>
     <br>
    </ion-card-content> 
    <!-- <ion-button  (click)="getUser()">get user</ion-button>  -->
<!--
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <div>
              <h2 class="welcome-msg">Hola <b>{{aUsername}}</b><br> </h2>
            </div>
            <div class="image">

            </div>
          </ion-card-header>
          <ion-card-content>
            <div class="general-msg">

            </div>
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>-->
