ion-content{
  text-align: center;
  width: 100%;
}

.heading{
  margin-top: 10vh;
  text-align: center;
  .image{
    width: 30%;
  }
 
}

.welcome-msg{
  position: relative;
  text-align: left;
  font-size: 30px;
}

ion-list{
  text-align: left;
}

.action-content{
  background: #FECE2F;
  background-color: aliceblue;
}

  .insta-icon{
    float: right;
    right: 50px;
    width: 10%;
  }

ion-row{
  display: block;
  margin: auto;
  width: 50%;
}

@media only screen and (max-width: 960px) {
  ion-content{
    font-size: 16px;
  }
  .image{
    width: 90%;
  }
 .p{
   font-size: 60px;
 }
  ion-row{
    display: inline;
  }
}


