<ion-content class="ion-padding" >
  
    <img src="/assets/taxi-robot.png" alt="taxi-money-care" >
    <ion-card-header>
      <ion-card-subtitle>En construcción</ion-card-subtitle>
      <div *ngIf="aUsername; else elseBlock "><ion-card-title>Hola <b>{{aUsername}},</b></ion-card-title></div>
      <ng-template #elseBlock><ion-card-title>¡Hola!</ion-card-title></ng-template>
    </ion-card-header>
    <ion-card-content>

    ¡Gracias por registrarte a Alcancía! En unos días estaremos en contacto contigo para darte mas información de nuestra beta. ¡Estamos locos porque formes parte de este proyecto!
     
    </ion-card-content> 
  
<!--
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <div>
              <h2 class="welcome-msg">Hola <b>{{aUsername}}</b><br> </h2>
            </div>
            <div class="image">

            </div>
          </ion-card-header>
          <ion-card-content>
            <div class="general-msg">

            </div>
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

<!-- <ion-button  (click)="logout()">Logout</ion-button> -->
</ion-content>
