
<ion-app>
  <br>
  <ion-header>
    <ion-toolbar>
      <ion-title size = "large">Alcancia.io</ion-title>
      <ion-buttons slot="primary" (click)="logout()">
        <ion-button>
          <ion-icon name="log-out-outline" color="warning" ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="header">
      <div class=image>
          <img src="/assets/taxi-robot.png" width="300px" alt="taxi-money-care">
      </div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-card-header>
          <div class="welcome-msg">
            Hola <b><br>{{aUsername}}<b *ngIf="aUsername" >,</b></b>
        </div>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            ¡Gracias por registrarte a Alcancía! 
          </ion-list>
          <ion-list>
            Juntos cambiaremos la forma en la que ahorramos en Latinoamérica.
          </ion-list>
          <ion-list>
            ¡Pronto nos pondremos en contacto contigo!
          </ion-list>
      </ion-card-content>
      <a class="insta-content" href="https://instagram.com/yo.ahorro?utm_medium=copy_link"><img class="insta-icon" src="/assets/instagram-yellow.png" alt="insta-icon"></a>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>