
 .tooltip {
    position: absolute; 
    border-bottom: 1px dotted black;
    margin-top: 1rem;
    margin-left: 1rem;
  }   
  
  .information-icon{
    font-size: 24px;
  }

  .alert-message{
      text-align: left;
  }