@mixin slide-up {
  animation-name: slide-up;
  animation-delay: 0s;
  animation-duration: .3s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}
ion-content {
  --background:
  url("/assets/backdrops/USDCOPC.png") center 22vh/110% auto no-repeat,
  linear-gradient(0deg, #76A3CF, #76A3CF) center 50vh/100% auto no-repeat,
  linear-gradient(180deg,
    #0F2346,
    #1C3466,
    #476DD3 75%,
    #4368C9,
    #395AB0,
    #4E76E5
  );
}
ion-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2.9em;
  > ion-card-header {
    @include slide-up;
    animation-delay: .1s;
  }
  height: auto;
}
ion-card-content {
  padding-bottom: 0;
  > oink-button {
    @include slide-up;
    animation-delay: .2s;
  }
}
oink-button + span {
  margin-top: 1em;
  margin-bottom: 0;
  @include slide-up;
  animation-delay: .3s;
}
span {
  color: var(--ion-color-light);
}
.oink-logo {
  width: 50vw;
  margin: 0 auto;
  @include slide-up;
}
