<ion-app>
  <ion-content>
      <br/>
      <br/>
      <section class="section-icon"> 
          <img class="checkmarkIcon" src="../../../assets/Icon awesome-exclamation-circle.png" alt="taxi-money-care">
      </section>      
      <br/>
      <br/>
      <section  class="section">
          <span class="sucessfull-span">Tuvimos un problema al realizar el
            depósito… </span><br/><br/><br/>
          <span class="sucessfull-span">
            Por favor intentalo de nuevo.
          </span>
      </section>
      <br/><br/><br/>
      <ion-button class="arrow-btn" type="submit" expand="block" shape="round" (click)="backToMainMenu()"><img class="arrow-img" src="../../../../assets/arrow-alcui.png" alt="arrow-alcui"></ion-button>
  </ion-content>
</ion-app>
