<ion-content>
  <div class="oink-fullscreen ion-justify-content-between">
    <img class="oink-icon-logo" src="/assets/alcancia_white_icon.png"/>

    <div>
      <div>
        <h1 i18n>¡Hola!</h1>
        <p>Completa la siguiente información para crear tu cuenta:</p>
      </div>
      <form [formGroup]="signupForm">
        <ion-item mode="ios" lines="none" class="oink-item">
          <ion-label position="stacked">
            <span class="oink-label">Nombre(s)</span>
          </ion-label>
          <ion-input
            formControlName="name"
            type="text"
            [ngClass]="{
              'oink-error':
                !signupForm.get('name').valid
                && signupForm.get('name').touched
            }"
            class="oink-input"></ion-input>
          <ion-note
          slot="error"
          *ngIf="!signupForm.get('name').valid">
            <span i18n *ngIf="
              signupForm.get('name').errors.required
              && signupForm.get('name').touched">
              Este campo es obligatorio
            </span>
          </ion-note>
        </ion-item>
        <ion-item mode="ios" lines="none" class="oink-item">
          <ion-label position="stacked">
            <span class="oink-label">Apellido(s)</span>
          </ion-label>
          <ion-input
            formControlName="surname"
            type="text"
            [ngClass]="{
              'oink-error':
                !signupForm.get('surname').valid
                && signupForm.get('surname').touched
            }"
            class="oink-input"></ion-input>
          <ion-note
          slot="error"
          *ngIf="!signupForm.get('surname').valid">
            <span i18n *ngIf="
              signupForm.get('surname').errors.required
              && signupForm.get('surname').touched">
              Este campo es obligatorio
            </span>
          </ion-note>
        </ion-item>
        <ion-item mode="ios" lines="none" class="oink-item">
          <ion-label position="stacked">
            <span class="oink-label">Celular</span>
          </ion-label>
          <div class="flex">
            <ion-select class="oink-select square flex-none">
              <ion-select-option value="52">🇲🇽 +52</ion-select-option>
              <ion-select-option value="1">🇩🇴 +1</ion-select-option>
              <ion-select-option value="1">🇨🇴 +57</ion-select-option>
            </ion-select>
            <ion-input
              class="flex-initial"
              formControlName="surname"
              type="tel"
              [ngClass]="{
                'oink-error':
                  !signupForm.get('surname').valid
                  && signupForm.get('surname').touched
              }"
              class="oink-input"></ion-input>
            <ion-note
              class="flex-none"
            slot="error"
            *ngIf="!signupForm.get('surname').valid">
              <span i18n *ngIf="
                signupForm.get('surname').errors.required
                && signupForm.get('surname').touched">
                Este campo es obligatorio
              </span>
            </ion-note>
          </div>
        </ion-item>
        <ion-item mode="ios" lines="none" class="oink-item">
          <ion-label position="stacked">
            <span class="oink-label">Género</span>
          </ion-label>
          <ion-select class="oink-select">
            <ion-select-option value="female">Mujer</ion-select-option>
            <ion-select-option value="male">Hombre</ion-select-option>
            <ion-select-option value="nonbinary">No binario</ion-select-option>
            <ion-select-option value="other">Otro</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item mode="ios" lines="none" class="oink-item">
          <ion-label position="stacked">
            <span class="oink-label">Contraseña</span>
          </ion-label>
          <ion-input
            formControlName="password"
            type="password"
            [ngClass]="{
              'oink-error':
                !signupForm.get('password').valid
                && signupForm.get('password').touched
            }"
            class="oink-input"></ion-input>
          <ion-note
          slot="error"
          *ngIf="!signupForm.get('password').valid">
            <span i18n *ngIf="
              signupForm.get('password').errors.required
              && signupForm.get('password').touched">
              Este campo es obligatorio
            </span>
          </ion-note>
        </ion-item>
        <ion-item mode="ios" lines="none" class="oink-item">
          <ion-label position="stacked">
            <span class="oink-label">Confirmar Contraseña</span>
          </ion-label>
          <ion-input
            formControlName="confirmPassword"
            type="password"
            [ngClass]="{
              'oink-error':
                !signupForm.get('confirmPassword').valid
                && signupForm.get('confirmPassword').touched
            }"
            class="oink-input"></ion-input>
          <ion-note
          slot="error"
          *ngIf="!signupForm.get('confirmPassword').valid">
            <span i18n *ngIf="
              signupForm.get('confirmPassword').errors.required
              && signupForm.get('confirmPassword').touched">
              Este campo es obligatorio
            </span>
          </ion-note>
        </ion-item>
      </form>
    </div>

    <div>
      <oink-button
      [disabled]="!signupForm.valid"
      expand="block"
      (click)="submit()"
      >Siguiente</oink-button>
    </div>
  </div>
</ion-content>
