ion-content{
  position: absolute;
  text-align: center;
}

ion-grid{
  width: 100%;
}

.input-title{
  text-align: left;
}
.welcome-msg{
  position: relative;
  text-align: left;
  font-size: 30px;
}
.button-action{
  position: relative;
  text-align: left;
}

.perfile-pic{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color:#3554C4;
  float: right; 
}
 
ion-item{ --highlight-color-valid: #3554C4; }
.item-content{
  --ion-item-background: #051634; 
  --ion-item-border: 1px solid #051634;
}
 
ion-icon{
  color: #ffff;
}

.arrow-btn{
  float: right;
  margin: 25px;
}

ion-row{
  display: block;
  margin: auto;
  width: 50%;
}

.register{ 
  border-bottom: solid 3.5px #3554C4;
} 

@media only screen and (max-width: 960px) {
  ion-row{
    display: inline;
  }
}

