@mixin fade-down {
  animation-name: fade-down;
  animation-delay: 0s;
  animation-duration: .4s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}
.oink-fullscreen {
  $horizontal-padding: 2.7rem;
  padding-top: 1.25rem;
  padding-bottom: 2.1875rem;
  padding-right: $horizontal-padding;
  padding-left: $horizontal-padding;
}
.oink-icon-logo {
  width: 25.64vw;
  margin-right: auto;
  margin-left: auto;
}
