ion-content{
  text-align: center;
  width: 100%;
}

.welcome-msg{
  padding-top: 3%;
  position: relative;
  text-align: left;
  font-size: 30px;
}
.sign-toolbard{
  position: relative;
  text-align: left;
}

.perfile-pic{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color:#FECE2F;
  float: right;
  right: 5%;
}

ion-item{
  position: relative;
  width: 90%;
  padding-top: 5%;
}

.arrow-btn{
  float: right;
  bottom: 0;
  margin: 25px;
}

.forgotpassword-btn{
  color: #000000;
  font-size: 16px;
  float: left;
}

.action-content{
  background: #FECE2F;
  background-color: aliceblue;
}

action-buttons{
  position: relative;
  padding-top: 5%;
}

ion-row{
  display: block;
  margin: auto;
  width: 50%;
}

@media only screen and (max-width: 960px) {
  ion-content{
    font-size: 16px;
  }
 .p{
   font-size: 60px;
 }
  ion-row{
    display: inline;
  }
}


