<ion-content>
  <div class="heading">
    <div class="image">
      <img src="/assets/taxi-money-care.svg" alt="taxi-money-care">
    </div>
    <h1>Creemos que ahorrar es
      esencial para una buena vida</h1>
      <p>Somos la nueva forma de ahorrar. Buscamos
        maximizar el poder de tus ingresos con el uso
        de las tecnologías emergentes.</p>
  </div>
  <div class="start-now">
    <ion-button class="start-now-btn" (click)="start()">Quiero empezar a ahorrar</ion-button>
  </div>
</ion-content>


