.heading{
    margin-top: 10vh;
    text-align: center;

    h1{
      font-size: 1.5em;
      text-align: left;
      padding-left: 8%;
    }

    p{
      font-size: 1.0em;
      color:#707070;
      padding-top: 3px;
      margin: 6px;
      padding-left: 7.5%;
      text-align: left;
    }
}



.start-now{
  margin-top: 45px;
  text-align: center;

  ion-button{
    width: 85%;
    height: 50px;
    --background:#FECE2F;
  }

  .start-now-btn{
    text-transform: none;
    font-size: 1.0em;
  }
}

@media only screen and (min-width: 960px) {

.heading{
  h1{
    font-size: 1.5em;
    text-align: center;
  }

  p{
    font-size: 1.0em;
    color:#707070;
    padding-top: 3px;
    margin: 6px;
    text-align: center;
  }
}

}
