.section{
    text-align: center;
}

.checkmarkIcon{
    text-align: center;  
    width: 200px;
}

.checkmarkicon-cotainer{
    text-align: center;
}

.bill-details-card{
    width: 80%;
    text-align: left;
    margin-left: 10%;
}

.sucessfull-span{ 
    font-size: 24px;
}

.title-deposite{
    float: left;
    font-size: 18px;
}

.order-details{
    float: left;
    padding-left: 5%;
    font-size: 16px;
}

.btn-component{
    padding-left: 40%
}
.arrow-img{
    width: 54px;
    height: 18px;
 }
.arrow-btn{
    float: right;
    padding-right: 22%;
    bottom: 0;
    margin: 25px;
    height: 5%;
}