 
<ion-app>
  <ion-header  no-border>
    <app-top-navigation-toolbar></app-top-navigation-toolbar>
  </ion-header>
  <ion-content>
    <h1 class="tittle">Seleccione una de las siguientes opciones: </h1><br/>
    <app-paypalPaymentOptions class="paymentoption" [amount]='depositAmount'></app-paypalPaymentOptions>
   
    
  </ion-content>  
  <ion-content class="cancel-content">
    
    <ion-button class="cancelbtn" shape="round" (click)="backToSwap()" >Cancelar</ion-button>
  </ion-content>
  
</ion-app>

