
.tittle{
    text-align: center;
}
.paymentoption{
    text-align: center;
}

.cancelbtn{
    margin-top: 10%;
    float: right;
    margin-right: 10%;
    margin-bottom: 5%;
}

.option-content{
    height: 50%;
}

.cancel-content{--offset-top: -240px;
    text-align: center;
} 