ion-content{
  text-align: center;
  width: 100%;
}

.welcome-msg{
  padding-top: 3%;
  position: relative;
  text-align: left;
  font-size: 30px;
}
.sign-toolbard{
  position: relative;
  text-align: left;
}

.login{ 
  border-bottom: solid 3.5px #3554C4;
} 

.perfile-pic{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #3554C4;
  float: right;
  right: 5%;
}
 
.form-content{ 
  padding-top: 5%;
  text-align: left; 
} 

ion-item{ --highlight-color-valid: #3554C4; }
.item-content{
  --ion-item-background:#121212;
  
}

.arrow-btn{
  float: right;
  bottom: 0;
  margin: 25px;
}

.forgotpassword-btn{
  color: #ffff;
  font-size: 16px;
  float: left;
  cursor: pointer;
}

.forgotpassword-btn:hover{
  color: rgb(171, 171, 171);
  font-size: 16px;
  float: left;
}



.action-content{
  background: #FECE2F;
  background-color: aliceblue;
}

action-buttons{
  position: relative;
  padding-top: 5%;
} 

ion-row{
  display: block;
  margin: auto;
  width: 50%;
}

@media only screen and (max-width: 960px) {
  ion-content{
    font-size: 16px;
  }
 .p{
   font-size: 60px;
 }
  ion-row{
    display: inline;
  }
}


