
<ion-app>
  <br>
  <ion-header  no-border>
    <app-top-navigation-toolbar></app-top-navigation-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <p>Bienvenido, {{aUsername}}</p>
    <ion-card class="investment-card">
      <ion-card-subtitle class="investment-card-subtitle">Inversión total</ion-card-subtitle>
      <ion-card-content class="investment-total">2,537.99 $
        <ion-button>Ver</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
  <ion-footer>
    <app-navigation-toolbar>
    </app-navigation-toolbar>
    <br>
   </ion-footer>
</ion-app>