ion-content{
    top: 10%;
    width: 50%;
    left: 25%;  
}

ion-button{ 
    --background:#FEDC56;
}
.welcome-msg{
    padding-left: 5%;
    font-size: 38px;
}

.inputs-section{
    width: 100px;
    margin-left: 25px;
}

.box-shadow{ 
    width: 94%;
    height: 32.5%;
    background:  linear-gradient(#1B2A62, #355BC4);
    border-radius: 25px;
    position: absolute; 
    left: 3%; 
    filter: blur(0.1px);
}

.ion-card-body{ 
    text-align: left;
    border-radius: 25px;
    --background: #171622;
    // box-shadow: 8px 8px  #1B2A62;
} 

 
.ion-card-content{ 
    height: 75px;
    border-radius: 25px; 
    --background: #171622;
    border: 2px solid #3453C3;
    margin: -10px 10px;
}

.dropdown-content{
    color: #FFFF;
    font-weight: 800;
    width: 25%;
}

.card-tittle p{
    color: #FFF;
    text-decoration: solid;
    font-size: 18px;
}

span{
    float: right;
}

.convert-btn{ 
    color: #FFFF;
    --background: linear-gradient(#355BC4, #1B2A62);
    float: right;
    padding-right: 5%; 
}

.whattodo-btn{
    color: #FFF; 
    --background: none;
}
.whattodo-btn p { 
    border-bottom: 1px solid #FFFF; 
}
 
.elipse-arrow{   
    z-index: 1;
    position: relative;
    width: 21px;
    height: 21px; 
    border-radius: 50%;
    background-color: #3554C4;    
    left: 50%; 
  } 

  ion-icon{
      color: #FFFF;
      padding-top: 15%;
      padding-left: 16%;
  }
ion-select {
    display: flex;
    width: 18%;  
    justify-content: center; 
    border-radius: 15px !important;
    padding-left: 10px;
    padding-right: 10px;  
    background-color: #3554C4;
    left: 5%;
    top: 20.5%;
}  

.currency-value{    
    position: relative;
    color: #ffff;
    font-size: 24px;
    padding-right: 15%; 
    top: -40%;
    text-align: right;
    
}
 
ion-select::part(icon) {
    color: #ffff;
    opacity: 1;
  }


@media only screen and (max-width: 960px) {
    ion-content{ 
        width: 80%;
        left: 10%;
    }

    .box-shadow{ 
        width: 95%;
        height: 33%;
        background:  linear-gradient(#1B2A62, #355BC4);
        border-radius: 25px;
        position: absolute; 
        left: 3%; 
        filter: blur(0.1px);
    }
}

@media only screen and (max-width: 390px) {
    ion-content{ 
        width: 80%;
        left: 10%;
    }

    .dropdown-content{
        width: 100px;
    }
    .inputs-section{
        width: 100px;
        margin-left: 35px;
    }

    .box-shadow{ 
        width: 95%;
        height: 33%;
        background:  linear-gradient(#1B2A62, #355BC4);
        border-radius: 25px;
        position: absolute; 
        left: 3%; 
        filter: blur(0.1px);
    }
}
