<ion-app> 
  <ion-header  no-border>
    <app-top-navigation-toolbar></app-top-navigation-toolbar>
  </ion-header>
  <ion-content> 
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="welcome-msg">¡Empecemos!</p> 
        </ion-col> 
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="box-shadow">
            <ion-card-content></ion-card-content>
          </ion-card>
          <ion-card class="ion-card-body"> 
            <ion-card-content>
              <div class="card-tittle">
                <p>¿Cuánto deseas convertir hoy?</p>
              </div>   
            </ion-card-content> 
              <div class="form-content">
                <ion-card class="ion-card-content"  >
                  <ion-select class="dropdown-content"  value="brown" okText="Okay" cancelText="Cancelar" [(ngModel)]="FromCurrencyCode" (ionChange)="calculateExchange();" (keyup.enter)="createPaypalOrder()">
                    <ion-select-option value="MXN">$MXN 🇲🇽</ion-select-option>  
                    <ion-select-option value="DOP">$DOP 🇩🇴</ion-select-option>  
                    <!-- <ion-select-option value="BTC">$BTC ₿</ion-select-option>  -->
                  </ion-select>  
                  <span class="currency-value" ><ion-input class="inputs-section" position="floating" placeholder="0" type="number"  [(ngModel)]="Amount" (ionChange)="calculateExchange();" (keyup.enter)="createPaypalOrder()" ></ion-input></span>   
                </ion-card>     
              </div>
                  
             <div class="elipse-arrow"><ion-icon name="arrow-down-outline"></ion-icon></div> 
           
           <ion-card class="ion-card-content">
            <ion-select class="dropdown-content" value="brown" okText="Okay" cancelText="Dismiss" [(ngModel)]="ToCurrencyCode" (keyup.enter)="createPaypalOrder()" (ionChange)="calculateExchange();">
              <ion-select-option value="USD" [selected]="ToCurrencyCode" >$USDT</ion-select-option>
            </ion-select>  
            <span class="currency-value"><ion-input class="inputs-section" position="floating" placeholder="0" type="text" value={{ExchangeTotal}} readonly></ion-input></span>   
           </ion-card>
                     
                  <br/>
                  <br/> 
              <ion-button class="convert-btn" type="submit" (click)="createPaypalOrder()" (keyup.enter)="createPaypalOrder()" shape="round">Pagar</ion-button>
              <br>
              <br>  
              <br>  
              <br>  
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button fill="clear" class="whattodo-btn"><p>¿Qué me toca hacer aca?</p></ion-button> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="backMainMenuBtn" shape="round" (click)="backtoMenu()"   >Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-content> 
</ion-app>
