<ion-app> 
  <ion-content> 
    <p class="welcome-msg">¡Empecemos!</p> 
    <ion-card class="ion-card-body"> 
      <ion-card-content>
        <div class="card-tittle">
          <p>¿Cuánto deseas convertir hoy?</p>
        </div>
        <ion-card>
          <ion-card-content>
            <ion-button>SMXN</ion-button>
            <span>20.0</span>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-button>UST</ion-button>
            <span>1.00</span>
          </ion-card-content>
        </ion-card> 
        <ion-button class="convert-btn">Convertir</ion-button>
        <br>
        <br> 
      </ion-card-content> 
    </ion-card>
    <ion-button fill="clear" class="whattodo-btn">¿Qué me toca hacer aca?</ion-button>
  </ion-content>
</ion-app>
