ion-content{
  position: absolute;
  text-align: center;
}

ion-grid{
  width: 100%;
}
.welcome-msg{
  position: relative;
  text-align: left;
  font-size: 30px;
}
.button-action{
  position: relative;
  text-align: left;
}

.perfile-pic{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color:#FECE2F;
  float: right;
  right: 5%;
}

ion-item{
  position: relative;
  width: 90%;
  padding-top: 5%;
}

.arrow-btn{
  float: right;
  margin: 25px;
}

ion-row{
  display: block;
  margin: auto;
  width: 50%;
}

@media only screen and (max-width: 960px) {
  ion-row{
    display: inline;
  }
}

