<ion-content class="ion-padding">
        <ion-grid>
          <ion-row >
            <ion-col size="auto">
              <div class="button-action">
                <ion-button fill="clear" color="dark" size="small" (click)="loginPage()">
                  <b><p>Login</p></b>
                </ion-button>
                <ion-button fill="clear" color="dark" size="small" >
                  <b><p>Regístrate</p></b>
                </ion-button>
                <div class="perfile-pic"></div>
              </div>
            </ion-col>
            <ion-col size="auto">
              <ion-card-header class="welcome-msg">
                <div>
                  <!-- class="welcome-msg" -->
                  Hola <b>Usuario,</b> <br>
                  <small>Ingresa la información que se le pide en los campos debajo.</small>
                </div>
              </ion-card-header>
            </ion-col>
            <ion-col size="auto">
              <ion-card-content>
                 <ion-list>
                  <ion-item>
                    <ion-input position="floating" placeholder="Nombre" type="text" [(ngModel)]="name"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input position="floating" placeholder="Correo electrónico" type="text" [(ngModel)]="email"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input position="floating" placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-input position="floating" placeholder="Repite tu contraseña" type="password" [(ngModel)]="confirmPassword" (ionChange)="checkPassword()"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-col>
            <ion-col size="auto">
              <div>
                <ion-text *ngIf="password && !passwordMatch" color="danger" >La constraseña no coincide!</ion-text>
                <app-arrow-button class="arrow-btn" expand="block" shape="round" color="warning" (click)="signup()"></app-arrow-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>



</ion-content>
