<ion-content>
  <div class="heading">
    <h1>Creemos que ahorrar es
      esencial para una buena vida</h1>
  </div>
  <div>
    <small>
      Somos la nueva forma de ahorrar. 
    </small>
    <br/>
    <br/>
    <small>
      Con la misión de empoderar 
      económicamente<br/>  a los latinoaméricanos mediante el ahorro proactivo.<br/><br/>
    </small>
    
    <br/>
    <br/>
    <small>
      ¿Te nos unes a esta causa?
    </small> 
  </div>
  <div class="start-now">
    <ion-button class="start-now-btn" (click)="start()">Quiero empezar a ahorrar</ion-button>
  </div>
</ion-content>


