/* VARIABLES */
$horizontal-padding: 1em;

ion-card {
  margin-top: 0;
  margin-bottom: 0;
}
ion-icon {
  color: var(--ion-color-light);
}
.alc-profile {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
}
.alc-profile-item {
  --background: none;
  --background-activated: none;
  --background-hover: none;
  margin-bottom: 1em;
}
.alc-profile-label {
    margin-bottom: 0;
    font-size: 0.75em;
}
.alc-profile-input {
    --padding-top: 0;
    --padding-bottom: 0;
    font-weight: 700;
    font-size: 1.25em;
}
.alc-profile-input.editable {
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: var(--ion-color-light);
}
.alc-profile-label {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--ion-color-medium);
}
.alc-profile-header {
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
  align-items: baseline;
  display: flex;
  > h1 {
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 2em;
  }
  > button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0;
    background-color: transparent;
    font-size: 1.5em;
  }
}
.alc-profile-edit-controls {
  margin-top: 0.5em;
  padding-right: $horizontal-padding;
  padding-left: $horizontal-padding;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  > ion-button {
    flex-basis: 50%;
  }
}
