/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/gotham/GothamBook.ttf");
}
@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/gotham/Gotham-Bold.otf");
}
/* ANIMATIONS */
@keyframes slide-up {
  from {
    transform: translateY(100vw);
  }
  to {
    transform: none;
  }
}
@keyframes slide-down {
  from {
    transform: translateY(-100vw);
  }
  to {
    transform: none;
  }
}
@keyframes fade-down {
  from {
    transform: translateY(-1vh);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fade-up {
  from {
    transform: translateY(1vh);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
/* GLOBAL STYLES */
h1 {
  font-family: "Gotham", sans-serif;
  font-weight: bold;
  font-size: 2.1875rem;
}

h2 {
  font-family: "Gotham", sans-serif;
  font-weight: bold;
  font-size: 1.5625rem;
}

.oink-label {
  font-family: "Gotham", sans-serif;
  font-size: 0.9375rem;
}
.oink-sublabel {
  font-family: "Gotham", sans-serif;
  font-size: 0.8125rem;
}
.oink-item, .oink-subitem {
  --background: none;
  --transition: none;
  --background-hover: none;
  --background-activated: none;
  --padding-start: 0;
  --padding-end: 0;
  --ripple-color: transparent;
  height: auto;
}
.oink-item {
  $vertical-padding: 2rem;
  margin-top: .5rem;
  --inner-padding-top: $vertical-padding;
  --inner-padding-bottom: $vertical-padding;
}
.oink-input {
  $vertical-margin: .2em;
  $horizontal-padding: 10vw;
  --background: var(--oink-input-background);
  --padding-start: $horizontal-padding;
  --padding-end: $horizontal-padding;
  margin-top: $vertical-margin;
  margin-bottom: $vertical-margin;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.375rem #313131A3;

}
.oink-checkbox {
  --background: none;
  --border-color: var(--oink-checkbox-border-color);
}
.oink-checkbox + ion-label.md {
  margin-left: .5rem;
  padding-bottom: .2rem;
}
ion-button.oink-button {
  // --padding-top: 8.875rem;
  // $vertical-margin: 1rem;
  // --border-radius: .5rem;
  // --padding-top: 1.375rem;
  // --padding-bottom: 1.3125rem;
  // margin-top: $vertical-margin;
  // margin-bottom: $vertical-margin; font-family: "Gotham", sans-serif;
  // font-weight: normal;
  // font-size: 1.125rem;
  // height: auto;
  // letter-spacing: 0;
  // text-transform: none;
  // box-shadow: 0 0.1875rem 0.375rem 0 #00000029;
}
ion-card {
  &.oink-full-width {
    $horizontal-padding: 1.5rem;
    $vertical-padding: 2rem;
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
    padding-top: $vertical-padding;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    > * {
      display: flex;
      flex-direction: column;
    }
  }

  &.oink-rounded-top {
    $border-radius: 2rem;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }
  &.oink-no-rounded-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.oink-half-height {
    height: 50vh;
  }
}
ion-card-title {
  font-family: "Gotham", sans-serif;
  font-size: 2.1875rem;
  font-weight: bold;
}
ion-card-subtitle {
  $vertical-margin: 0;
  font-family: "Gotham", sans-serif;
  text-transform: none;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin-top: $vertical-margin;
  margin-bottom: $vertical-margin;
}
.oink-fullscreen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.oink-backdrop {
  position: absolute;
}
.oink-logo {
  object-fit: cover;
}
.oink-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-family: "Gotham", sans-serif;
  font-size: 0.8125rem;
  > ion-icon {
    margin-bottom: .15rem;
    margin-right: .2rem;
    font-size: 1.25rem;
  }
}
.oink-text {
  font-family: "Gotham", sans-serif;
}

