
  <ion-toolbar>
      <ion-segment>
          <ion-segment-button value="something">
            <ion-icon name="home-outline"></ion-icon>
              <span>Home</span>
          </ion-segment-button>
          <ion-segment-button value="something2">
            <ion-icon name="search-outline"></ion-icon>
              <span>Productos</span>
          </ion-segment-button>
          <ion-segment-button value="something2">
            <ion-icon name="swap-horizontal-outline"></ion-icon>
              <span>Transacciones</span>
          </ion-segment-button>
          <ion-segment-button value="something2">
            <ion-icon name="trending-up-outline"></ion-icon>
              <span>Estado</span>
          </ion-segment-button>
      </ion-segment>
  </ion-toolbar>